.main {
  font-size: calc(10px + 1vmin);
  height: 55px;

}

.main img {

  border-radius: 50%;
  max-width: 50px;
}

.name {
  font-size: calc(10px + 0.5vmin);
  text-align: center;
  

}

.cell {
  margin: auto;
  height: 80px;



}