.profile {
max-width: 100%;
display: grid;
grid-gap: 10px;
grid-template-columns: 1fr 2fr;
grid-template-rows: (auto-fit(200px  1fr));
grid-template-areas: 
"profileinfo profileinfo"
"friends wall";
}



@media (max-width:550px){

    .profile {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: (auto-fit, minmax(200px 50px  1fr));
        grid-template-areas: 
        "profileinfo profileinfo"
        "friends friends"
        "wall wall";
        }


}
