.newPostContainer{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px grey;
  height: fit-content;
  max-width: 100%;

}

.form {
  
  padding:10px 0 0 0;
  z-index: 10;

}

.field_wrap{
  position: relative;
padding-left:15px;
z-index: 10;

}

.form_footer{
  position: relative;
  height: 50px;
  background-color: #fafbfc;
  border-top: 1px solid #e7e8ec;
  border-radius: 0 0 5px 5px;
  z-index: 10;
  
}

.textarea{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-width: 0px;
 height: 100%;
  resize: none;
  outline: none;
  z-index: 10;

}

.button{
  
  position: relative;
  right:20px;
  float: right;
  top: 10px;
  width: 150px;
  height: 30px;
  font-size: 13px;
  border: 1px solid #d3d9de;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: teal;
  font-weight: 600;
  color: white;
  cursor: pointer;
  outline: none;
  
}

.button:hover{
  background-color: rgb(1, 143, 143);

}

.photo_wrap{
  
  padding-right: 15px;
  float: left;
  
     
 }
 
 .photo_wrap_outer{
   width:36px;
   height: 36px;
   border-radius: 50%;
   overflow: hidden;
 }
 
 
 
 .photo_wrap_outer img{
   vertical-align: middle;
  position: relative;
  left: -1px;
  top:-1px;
  width:38px;
  height: 38px;
   
 }

 .info_wrap{
  margin-left: 55px;
  
  position: relative;
  display: block;
  text-decoration: none;

}

.info{
  padding: 8px 0 10px;
  height: 70px;
  position: relative;
  box-sizing: border-box;
    

}

.modal{
position: fixed;
top:0px;
left:0px;
height: 100%;
width:100%;
max-width: 100%;
z-index:1;

}