.body {
  box-shadow: 0px 0px 3px 0px grey;
  background-color: white;
  border-radius: 4px;
  
    
}

.form{

  margin: 20px 0;
  padding-bottom: 20px;
 
}

.name{
  color: #656565;
  font-size: 13px;
  width: 250px;
  line-height: 16px;
  float: left;
  text-align: right;
  padding: 6px 10px 0px 0px;
  font-weight: 500;

}
.header{
  background-color: #fafbfc;
  display: block;
  padding: 0 20px;
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid #e7e8ec;
  border-radius: 4px 4px 0 0;
  font-size: 16px;
  outline: none;
  color: #000;

}

.inner_header {

  background-color: #fafbfc;
  display: block;
  padding: 0 20px;
  margin-bottom: 15px;
  height: 54px;
  line-height: 54px;
  border-top: 1px solid #e7e8ec;
  border-bottom: 1px solid #e7e8ec;
  font-size: 16px;
  outline: none;
  color: #000;
}



.input {
  width: 300px;
  height: 30px;
  padding: 5px 9px 7px;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #d3d9de;
  font-size: 13px;
  outline: none;

}

.textarea{
  width: 300px;
  height: 150px;
  padding: 5px 9px 7px;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #d3d9de;
  font-size: 13px;
  resize: none;
  outline: none;

}



.row{
  padding-bottom: 15px;
}

.separator {

  margin: 5px auto 20px auto;
  height: 0;
  border-top: 1px solid #e7e8ec;
}

.controls{

  height: 30px;
  
}

.button_wrap {
  height: 30px;
  width: 200px;
  margin: auto;
  
}

.button{
  width: 180px;
  height: 30px;
  font-size: 13px;
  border: 1px solid #d3d9de;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: teal;
  font-weight: 600;
  color: white;
  cursor: pointer;
  outline: none;
  
}

.button:hover{
  background-color: rgb(1, 143, 143);

}