.container {
  
  max-width: 100%;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  grid-template-areas: 
  "header header"
  "navbar body";
  
  
  margin: auto;
  

}

@media (max-width: 770px) {

  .container{

    grid-template-areas: 
  "header header"
  "body body";
}
}